/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #eef5fe;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, .3);
  transition: all 0.4s ease;
  z-index: 10;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #43ba7f;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover, .active {
  color: #fff;
  background-color: #43ba7f;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
  z-index: 5;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
/* end of navbar */


.header_fixed {
    width: calc(100% - 270px);
    position: absolute;
    margin: 100px auto;
    left: 52%;
    transform: translateX(-50%);
    overflow: auto;
    padding: 35px 40px;
}

/* messages */

.messages-container {
  width: 100%;
  background-color: white;
  height: 700px;
  border-radius: 20px;
}

.messages-table {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.content p, .date p {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.date p {
 font-size: 13px;
 color: #43ba7f;
}

.content p {
  margin: 0 10px;
  font-size: 13px;
}



.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.messages-col {
  display: flex; 
  align-items: center; 
  padding: 15px;
  transition: .4s;
}

.messages-col:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.content {
  flex: 1; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.date {
  white-space: nowrap; /* Prevent text wrapping */
}

.circle-like i {
  color: rgba(0, 0, 0, .3);
  font-size: 20px;
}

.input input{
  width: 17px;
  height: 17px;
  position: relative;
  top: 4px;
}

.name {
  color: #43ba7f;
  font-weight: 600;
  font-size: 13px;
}

/* button */

.circle-like {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Hide the checkbox */
.circle-like-container input[type="checkbox"] {
  display: none;
}

/* Change color when checkbox is checked */
.circle-like-container input[type="checkbox"]:checked + .circle-like i {
  color: #43ba7f;
}


/* top content */

.top-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.compose a {
  outline: none;
  padding: 14px 40px;
  background-color: #43ba7f;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: .4s;
  font-size: 14px;
}

.compose a:hover {
  background-color: #1a6e44;
}

.line {
  padding: 0 15px;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  margin: 10px 0;
}

.input-search {
  position: relative;
  width: 300px;
}

.input-search input {
  outline: none;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .3);
  width: 100%;
}

.input-search i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, .5);
}






























/* Responsive */
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }

  .header_fixed {
    width: 100% !important;
    position: static !important;
    transform: translateX(0px) !important;
    padding: 35px 20px !important;
  }

}


@media (max-width:576px) {
  .top-content {
    flex-direction: column-reverse;
    align-items: start;
    gap: 24px;
  }

  .input-search {
    width: 100%;
  }



  .messages-table {
    padding: 10px;
  }

  .compose  {
    width: 100%;
  }

  .compose a {
    width: 100%;
    display: inline-block;
  }
}

