/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #eef5fe;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, .3);
  transition: all 0.4s ease;
  z-index: 10;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #43ba7f;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover, .active {
  color: #fff;
  background-color: #43ba7f;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
  z-index: 5;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
/* end of navbar */


.header_fixed {
    width: calc(100% - 270px);
    position: absolute;
    margin: 100px auto;
    left: 52%;
    transform: translateX(-50%);
    overflow: auto;
    padding: 35px 40px;
}

/* property */

.book-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-title h2 {
    font-size: 2.3rem;
    font-weight: 500;
    color: #43ba7f;
}

.book-select select {
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
}

/* book product */

.book-row {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.book-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}


.book-img {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.book-img:hover img {
    transform: scale(1.2);
    transform-origin: center center; 
    transition: transform 0.3s ease;
    
}

.circle-like {
    position: absolute;
    top: 4%;
    right: 4%;
    background-color: white;
    border-radius: 50%;
    height: 55px !important;
    width: 55px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-like i {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.4);
}


.icon-text i {
    font-size: 18px;
    color: #1a6e44;
}

.icon-text {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: space-between;
}

.icon-content {
    display: flex;
    gap: 4px;
    align-items: center;
}

.icon-text h4 {
    color: #6b6b6b;
    font-weight: 400;
}

.book-content h3 {
    font-size: 1.4rem;
    color: #43ba7f;
    font-weight: 600;
    margin-top: 10px;
}

.location-p {
    color: #6b6b6b;
    font-weight: 300;
    font-size: .9rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(74, 63, 53, .3);
    margin: 10px 0;
}

.price p span{
    color: #43ba7f;
    font-size: 1.2rem;
    font-weight: 500;
}

.price p {
    color: #6b6b6b;
    font-weight: 400;
}

.book-col {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book-content {
    background-color: white;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}


/* css button */
.circle-like {
    position: absolute;
    top: 4%;
    right: 4%;
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.share-rooms {
  position: absolute;
    top: 4%;
    left: 4%;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #43ba7f;
}

.share-rooms i {
  margin-left: 10px;
  font-size: 14px;
}




/* Hide the checkbox */
input[type="checkbox"] {
    display: none;
}

/* Change color when checkbox is checked */
input[type="checkbox"]:checked + .circle-like i {
    color: RED;
}

/* share room */
input[type="checkbox"]:checked + .share-rooms {
  background-color: #43ba7f;
  color: white;
}






.price-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.button a{
    color: white;
  padding: 10px 20px;
  background-color: #43ba7f;
  font-weight:600;
  transition: .4s;
  border-radius: 8px;
  font-size: 14px;
  gap: 10px;
  text-decoration: none;
}

.button a:hover {
    box-shadow: 5px 9px 15px -4px rgba(67, 186, 127, 0.75);
}

























/* Responsive */

@media (max-width:1000px) {
    .book-row {
        grid-template-columns: 1fr;
    }
}



@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }

  .header_fixed {
    width: 100% !important;
    position: static !important;
    transform: translateX(0px) !important;
    padding: 35px 20px !important;
  }

}

@media (max-width: 768px) {
    .book-row {
        grid-template-columns: 1fr;
    }
}
