/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #eef5fe;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, .3);
  transition: all 0.4s ease;
  z-index: 10;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #43ba7f;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover, .active {
  color: #fff;
  background-color: #43ba7f;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
  z-index: 5;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
/* end of navbar */


.header_fixed {
    width: calc(100% - 270px);
    position: absolute;
    margin: 100px auto;
    left: 52%;
    transform: translateX(-50%);
    overflow: auto;
    padding: 35px 40px;
}

/* settings */

.settings-container {
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.all-mrg {
    width: 90%;
    margin: auto;
}

.top-contenent{
   border-bottom: 2px solid lightgray;
   margin-bottom: 20px;
   padding: 20px 0;
   color: #43ba7f;
}

.profile-image img {
    width: 100px;
    border-radius: 7px;
}


.profile {
    display: flex;
    gap: 40px;
    border-bottom: 2px solid lightgray;
    padding: 20px 0;
}

input[type="file"] {
    display: none;
}

.profile-text label {
    color: #43ba7f;
    padding: 4px 14px;
    border: 1px solid lightgrey;
    font-weight:600;
    transition: .3s;
    border-radius: 8px;
}

.profile-text h4 {
    color: #43ba7f;
}

.profile-text p{
    margin-bottom: 17px;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}

.profile-text label:hover {
    color: white;
    background-color: #1a6e44;
    cursor: pointer;
    border: 1px solid transparent;
}

.input-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
}

.input-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    flex-wrap: wrap;
}

.input-data input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgray;
    font-size: 16px;
    color:rgba(0,0,0,0.5);
}


.input-data label {
    color: #43ba7f;
    font-size: 16px;
    font-weight: 600;
}


.button-row {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
}

.input-button #save {
    padding: 12px 30px;
    background-color: #43ba7f;
    color: white;
}

.input-button #cancel {
    padding: 12px 30px;
    color: #43ba7f;
    background-color: transparent;
    cursor: pointer;
}

.input-button #save:hover {
    cursor: pointer;
    background-color: #1a6e44;
    
}

.input-button input{
    border: 1px solid lightgray;
    border-radius: 8px;
    transition: .4s;
    font-weight: 600;
}


.deacticate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.deactivate-left p {
    color:rgba(0,0,0,0.7);
    font-size: 14px;
}

.deactivate-left h3 {
    color: #43ba7f;
}

.deactivate-left {
    width: 70%;
}

.deactivate-right button{
    padding: 10px 30px;
    color: red;
    background-color: transparent;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: .4s;
    font-weight: 700;
    border-radius: 8px;
}

.deactivate-right button:hover {
    background-color: red;
    color: white;
}






























/* Responsive */
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }

  .header_fixed {
    width: 100% !important;
    position: static !important;
    transform: translateX(0px) !important;
    padding: 35px 20px !important;
  }

}


@media (max-width:576px) {
    .input-row {
        grid-template-columns: 1fr;
    }

    .button-row {
        flex-direction: column;
    }

    .input-button input, .deactivate-right, .deactivate-right button{
        width: 100%;
    }

    .deacticate {
        flex-direction: column;
        text-align: center;
    }
}

