/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #eef5fe;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, .3);
  transition: all 0.4s ease;
  z-index: 10;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #43ba7f;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover, .active {
  color: #fff;
  background-color: #43ba7f;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
  z-index: 5;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}


/* main */


.main {

  width: calc(100% - 270px);
  position: absolute;
  margin: 100px auto;
  left: 52%;
  transform: translateX(-50%);
 

}

.cards {
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cards .card {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0,0,0,0.08);
  transition: .4s;
}

.cards .card:hover {
  background-color: #43ba7f;
  color: #fff !important;   
  cursor: pointer; 
}

.cards .card:hover .number, .cards .card:hover .card-name,.card:hover .icon-box i {
  color: white !important;
}

.number {
  font-size: 35px;
  font-weight: 500;
  color: #43ba7f;
}

.card-name {
  color: #888;
  font-weight: 600;
}

.icon-box i {
  font-size: 45px;
  color: #43ba7f;
}

/* charts */

.charts {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.chart {
  background: #fff;
  padding: 35px 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  width: calc(100% - 5px);
}

.chart-line {
  grid-column: span 2;
}

.chart h2 {
  text-align: center;
  color: #888;
  margin-bottom: 20px;
}

.doughnout canvas{
width: 100% !important;
margin: 0 auto;

}

.doughnout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.doughnout h2 {
  margin-bottom: 70px;
  margin-top: 40px;
}

#lineChart, #doughnutChart {
  height: 90% !important;
}

/* Responsive */

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .charts {
    grid-template-columns: 1fr ;
  }

  .chart-line {
    grid-column: unset;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }

  .main {
    width: 100% !important;
    position: static !important;
    transform: translateX(0px) !important;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 576px) {
  .doughnout canvas {
    width: 100% !important;
  }
}

