* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/* header */
header {
    position: absolute;
    top: 0;
}z

.logo {
    display: flex;
    align-items: center;
}

.albania img{
  width: 30px;
  margin-top: 10px;
}
  
.content{
    max-width: 1300px;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }

  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2000;
    padding: 20px 0;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.194);
    background-color: white;
  }

  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo img{
    width: 170px;
  }

  .navbar .menu-list{
    display: inline-flex;
    align-items: center;
  }

  .menu-list li{
    list-style: none;
  }
  
  .menu-list li a{
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .menu-list li a:hover:not(.nav-button), .menu-list li a.active{
    color: #43ba7f;
  }

  a.nav-button {
    padding: 10px 20px;
    background-color: #43ba7f;
    border-radius: 14px;
    color: white !important;
  }

  a.nav-button:hover {
    background-color: #1a6e44;
  }

  .icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .menu-btn {
    color: black;
  }

/* end of header */


.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    animation: scrollreveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin: 120px 0;
}

.banner-content {
    width: 60%;
}

.banner-content.banner-img {
    width: 60%;
    position: relative;
}

.banner-content.banner-img img{
    width: 100%;
}

.banner-content h1{
    font-size: 3rem;
    line-height: 1.2;
    color: black;
}

.banner-content.banner-img:after {
    content: "";
    position: absolute;
    background-color: #cff3e1;
    width: 100%;
    height: 45%;
    z-index: -1;
    bottom: 0;
    border-radius: 10px;
    left: 0;
    animation-name: infinteupdown;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
    margin-bottom: 20px;
}

.banner-img-child {
  display: flex;
  align-items: center;
  padding: 10px 14px;  
  gap: 20px;
}

.banner-img-child-container {
  box-shadow: 0px 0px 14px 10px rgba(0, 0, 0, 0.09);  
  position: absolute;
  left: 4%;
  top: 10%;
  z-index: 10;
  border-radius: 14px;
  background-color: white;
  animation-name: up-down;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all .3s;
}

.banner-img-child-img i{
  font-size: 50px;
  color: #43ba7f;
}

.banner-img-child-text p {
  margin: 0 !important;
  color: #43ba7f !important;
  font-size: 14 !important;
}

.banner-img-child-text h4 {
  font-size: 27px;
  line-height: 1;
}

.banner-content p {
    color: #482b1e;
    font-weight: 600;
    margin-top: 40px;
    font-size: 19px;
    margin-bottom: 49px;
}

.banner-content h1 .text-decorative {
  color: #43ba7f;
  position: relative;
}

.banner-content h1 .decorative-line {
  position: absolute;
  top: 34%;
  left: 2% !important;
  fill: #482b1e;
  z-index: -1;
}

.btn {
  width: 180px;
  height: 55px;
  border-radius: 14px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #43ba7f;
  color: #f5f5f5;
  text-decoration: none;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
  cursor: pointer;
  background-color: #1a6e44;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 180px;
}

.btn:hover .text {
  transition: all 0.5s;
  display: none;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

/* statistics */
.statistics-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 200px;
}

.statistics-col {
  box-shadow: 0px 0px 14px 10px rgba(0, 0, 0, 0.09);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 14px;
}

.statistics-icon{
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.statistics-icon i {
  font-size: 29px;
  color: #43ba7f;
}

.statistics-content h4 {
  text-align: center;
  font-size: 30px;
}

.statistics-content p {
  text-align: center;
  color: rgba(0,0,0,0.7);
  font-weight: 600;
}

/* our services */
.our-services-container {
  margin-top: 230px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 100px;
}

.our-services-img img{
  width: 100%;
  height: 240px;
}

.our-services-col h2{
  text-align: center;
  margin-bottom: 30px;
}

.our-services-col p {
  text-align: center;
}

.our-services-button a{
  text-decoration: none;
  color: #43ba7f;
  text-align: center;
  border: 1px solid #43ba7f;
  border-radius: 7px;
  font-weight: 700;
  padding: 12px 30px;
  transition: .4s;
}

.our-services-button {
  text-align: center;
  margin-top: 30px;
  padding: 12px 30px;
}

.our-services-button a:hover {
  color: white;
  background-color: #43ba7f;
}

.our-services-col {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  transition: .4s;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.our-services-col:hover {
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* best client */

.best-reviews-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 240px;
}

.reviews-img img{
  width: 80%;
  border-radius: 30px;
}

.reviews-img {
  position: relative;
}

.fa-quote-left {
  color: #1a6e44;
  font-size: 45px;
}

.best-reviews-content p {
  font-size: 20px;
  color: #482b1e;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 20px;
}

.best-reviews-stars i {
  color: #f7c32e;
  margin-bottom: 40px;
  font-size: 20px;
}

.best-reviews-content h3 {
  color: #1a6e44;
}

.emoji {
  width: 90px;
  background-color: #f7c32e;
  display: flex;
  box-shadow: 0px 0px 14px 10px rgba(0, 0, 0, 0.09);
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 7%;
  left: -7%;
}

.emoji img {
  width: 100%;
}

/* how it works */

.how-it-works-content {
  display: flex;
  gap: 20px;
  margin: 100px 0;
}

.how-it-works-numbers h2{
  font-size: 4.4rem;
  color: #482b1e;
  position: relative;
  top: -40px;
  font-weight:600;
  transition: .4s;
}

.how-it-works-numbers h2:hover {
  top: -10px;
  cursor: pointer;
}

.how-it-works-text h4 {
  font-size: 20px;
  color: #1a6e44;
}

.how-it-works-text p {
  color: #6b6b6b;
}

.how-it-works-row {
  display: flex;
  justify-content: space-between;
}

.how-its-works-container {
  width: 40%;
}

.how-it-works-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -40px;
}

.how-it-works-circle {
  max-width: 100px;
  min-width: 10px;
  max-height: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: #1a6e44;
  background-repeat: no-repeat;
}

.how-it-works-line {
  height: 34%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.how-it-works-title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 55px;
  color: #43ba7f;
}

/* location */

.top-content-location {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.top-content-location h2 {
  font-weight: 600;
  font-size: 2rem;
}

.btn-conteiner {
  display: flex;
  justify-content: center;
  color: #ffffff;
  --color-background: #43ba7f;
  --color-outline: #1a6e44;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes scrollreveal {
  from {
      opacity: 0;
      transform: translateY(100px);
  }
  to {
      opacity: 1;
      transform: translateY(0xp);
  }
}

.location-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.location-col {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-col::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.4s ease; /* Smooth transition for background size change */
  z-index: -1;
}

.location-col-content {
  position: relative;
  z-index: 1;
}

.location-row a {
  text-decoration: none;
}

.location-col:hover::before {
  transform: scale(1.2);
}

.location-col:hover {
  cursor: pointer;
}

/* Define background images for each location */

.all-locations-page {
  justify-content: center;
}

.all-lc-title {
  text-align: center;
} 

.all-locations-title {
  color: #43ba7f;
  font-size: 3rem !important;
}

.location-col.skenderaj::before {
  background-image: url("images/skenderaj-city.jpg");
}

.location-col.skenderaj:hover::before {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/skenderaj-city.jpg");
}

.location-col.gjakova::before {
  background-image: url("images/gjakova-city.jpg");
}

.location-col.gjakova:hover::before {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/gjakova-city.jpg");
}

.location-col.mitrovica::before {
  background-image: url("images/mitrovica-city.webp");
}

.location-col.mitrovica:hover::before {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/mitrovica-city.webp");
}


.location-col.prizreni::before {
  background-image: url("images/prizreni-city.jpg");
}

.location-col.prizreni:hover::before {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/prizreni-city.jpg");
}

.location-col.vushtrri::before {
  background-image: url("images/vushtrria-city.jpg");
}

.location-col.vushtrri:hover::before {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/vushtrria-city.jpg");
}

.location-col.prishtin::before {
  background-image: url("images/prishtina-city.jpg");
}

.location-col.prishtin:hover::before {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/prishtina-city.jpg");
}

.location-col.peja::before {
  background-image: url("images/peja-city.jpg");
}

.location-col.peja:hover::before {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/peja-city.jpg");
}

.location-col.ferizaj::before {
  background-image: url("images/ferizaj-city.jpg");
}

.location-col.ferizaj:hover::before {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/ferizaj-city.jpg");
}

/* Content styling */
.location-col-content h4 {
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 2.4rem;
  opacity: 0;
  transition: opacity 0.4s ease; /* Smooth transition for content opacity */
}

.location-col:hover .location-col-content h4 {
  opacity: 1;
}

/* footer */

footer{
  padding: 200px 0px 0px;
  background-color: black;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px 0 10px;
}

.reserved {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: white;
  text-align: center;
}

.reserved a {
  color: #43ba7f;
  text-decoration: none;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer ul{
  list-style: none;
}

.footer-col{
  width: 25%;
}

.footer-col a i{
  background-color: none;
  font-size: 20px;
}

.footer-col h4{
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: #43ba7f;
  text-transform: capitalize;
  font-weight: 900;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #1a6e44;
  height: 2px;
  width: 40px;
}

footer ul li:not(:last-child){
  margin-bottom: 8px;
}

footer ul li a{
  font-size: 19px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: 0.4s;
}

footer ul li{
  display: block;
  margin: 25px 0px;
}

footer ul li a:hover{
  color: #43ba7f;
  padding-left: 2px;
}

.links a{
  display: inline-flex;
  height: 49px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 49px;
  color: #fff;
  background-color: transparent;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

.links a:hover{
  color: #43ba7f;
  background-color: white;
}

footer .wave {
  position: absolute;
  top: 0px;
  rotate: 180deg;
  padding-bottom: 100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave.png);
  background-size: 1000px 100px;
}

footer .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

footer .wave.wave2 {
  animation: animate2 30s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

footer .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

footer .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.4;
  animation-delay: -3s;
  bottom: 20px;
}

@keyframes animate {
  0% {
      background-position-x: 0;
  }

  100% {
      background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
      background-position-x: 0;
  }

  100% {
      background-position-x: 1000px;
  }
}


@keyframes infinteupdown {
  0% {
    height: 45%;
  }

  50% {
    height: 70%;
  }

  100% {
    height: 45%;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1200px){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
      text-align: center;
  }

  footer ul li a{
      margin: 20px 0px;
  }

  .footer-col h4::before{
      all: unset;
  }
}

  
  @media (max-width: 1000px) {
    body.disabled{
      overflow: hidden;
    }

    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }

    .menu-list li a {
      color: white;
    }

    .statistics-container {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .navbar{
      padding: 15px 0;
    }

    .our-services-container {
      grid-template-columns: 1fr 1fr;
    }

    .best-reviews-content p {
      font-size: 1em;
    }

    .fa-quote-left {
      font-size: 30px;
    }
  }

  @media (max-width: 768px) {
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content.banner-img {
        width: 100%;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content h1{
        text-align: center;
    }

    .banner-button{
      display: flex;
    }

    .banner-button a{
      width: 100%;
      text-align: center;
    }

  .btn {
    width: 100%;
    justify-content: center;
  }

  .btn .text {
    transform: translateX(0px);
  }

  .btn .icon {
    transform: translateX(-70px);
  }

  .btn:hover .icon {
    transform: translateX(0);
  }
  
  .statistics-container {
    grid-template-columns: 1fr 1fr;
  }

  .banner-content h1 .decorative-line {
    display: none;
  }

  .our-services-col h2 {
    font-size: 18px;
  }

  .our-services-col p {
    font-size: 14px;
  }

  .our-services-col {
    padding: 10px;
  }

  .best-reviews-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .reviews-img img, .how-its-works-container {
    width: 100%;
  }

  .emoji {
  left: -4%;   
  width: 80px; 
  }

  .fa-quote-left {
    font-size: 45px;
  }

  .how-it-works-row {
    flex-direction: column;
  }

  .how-it-works-center {
    display: none;
  }
  
  .how-it-works-content {
    margin: 0;
    margin-bottom: 70px;
  }

  .location-row {
    grid-template-columns: 1fr;
  }

  .top-content-location {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .btn-content, .btn-conteiner {
    width: 100%;
    justify-content: center;
  }
}


@media (max-width: 576px) {
  .banner-content h1 {
    font-size: 2.4rem;
  }

  .statistics-container {
    grid-template-columns: 1fr;
  }

  .banner-content p {
    font-size: 1rem;
    text-align: left;
  }

  .banner-img-child-img i {
    font-size: 34px;
  }

  .banner-img-child-text p {
    font-size: 15px;
  }

  .banner-img-child-text h4 {
    font-size: 24px;
  }

  .banner-img-child-container {
    top: 0;
  }

  .our-services-container {
    grid-template-columns: 1fr;
  }

  .our-services-col {
    padding: 30px;
  }

  .our-services-button a{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-col{
    width: 100%;
    margin: 20px 0px;
}  

.all-lc-title {
  font-size: 2rem !important;
} 

.reserved {
  flex-direction: column;
  gap: 5px;
}
}